#main-navbar {
    font-size:large;
    margin-bottom: 5px;
}

.bg-body-tertiary{
    background-color: rgb(58, 146, 234) !important;
}

.navbar-brand {
    padding: 5px;
    padding-left: 30px;
    font-size: larger;
    font-weight:600;
}

.nav-link{
    font-weight:600;
}

.nav-link.active {
    font-weight:500;
    text-decoration: underline;    
}

.navbar-nav .dropdown-menu {
    right:0;
    left: auto;
    
}

.navbar-nav .dropdown-menu.active {
    font-weight:500;
    text-decoration: underline;    
}